<h1>Diagnosis: <%=@diagnosis.name %></h1>

<ul>
  <li>ICD code:   <%= @diagnosis.icd %></li>
</ul>

<h2><%=link_to 'Delete Diagnosis', @diagnosis, method: :delete%></h2>
<h2><%=link_to 'Edit Diagnosis', edit_patient_path%></h2>
<h3><%=link_to 'Home', root_path%></h3>
